body {
    background-color : darkgray;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

.maze {
    font-size: 0.5;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    position: relative;
  
    display: block;
    margin: 30px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #2ecc71;
    color: #ecf0f1;
    
    transition: background-color .3s;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
  }
  
  .btn:hover, .btn:focus {
    background-color: #27ae60;
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: inline-block;
    padding: 12px 24px;
  }
  
  .btn:before {
    content: "";
    
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
  

h1 { 
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
    color: whitesmoke;
}

.menutext {
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
    color: whitesmoke;
}

.menu {
    margin: auto;
    text-align: center;
    list-style: none;
}

.level {
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
}
  
  .btn.orange {
    background-color: #e67e22;
  }
  
  .btn.orange:hover, .btn.orange:focus {
    background-color: #d35400;
  }
  
  .btn.red {
    background-color: #e74c3c;
  }
  
  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
  }

#controls {
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
  font-size: 2vh;
  color: whitesmoke;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  display:none;
  background-color: transparent;
}

div.victory{
  text-align: center;
  display: none;
  position: absolute;
  top:20%;
  width: 100%;
}

h1.victory{
  font-size: 144pt;
  font-family: 'Forte';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -6px 0 #212121,  
                 0px -6px 0 #212121,
                 0px  6px 0 #212121,
                 0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                 6px  0px 0 #212121,
                -6px  0px 0 #212121,
                 6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                 6px -6px 0 #212121,
                -6px  6px 0 #212121,
                 6px  6px 0 #212121,
                -6px  18px 0 #212121,
                 0px  18px 0 #212121,
                 6px  18px 0 #212121,
                 0 19px 1px rgba(0,0,0,.1),
                 0 0 6px rgba(0,0,0,.1),
                 0 6px 3px rgba(0,0,0,.3),
                 0 12px 6px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.25),
                 0 24px 24px rgba(0,0,0,.2),
                 0 36px 36px rgba(0,0,0,.15);
}